// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat');
// Bootstrap
@import 'bootstrap/scss/bootstrap';
// Variables
@import 'variables';
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import 'cropperjs/dist/cropper.css';


[class*=shadow] {
    transition: all .2s ease
}

.shadow-pixel {
    box-shadow: .2rem .2rem 0 rgba(233,236,239,.5)!important
}

.shadow-soft {
    box-shadow: 0 .25rem 1.875rem rgba(42,53,79,.05)!important
}

.shadow-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(42,53,79,.12)!important
}

.shadow-sm-hover:hover {
    box-shadow: 0 1.5rem 4rem rgba(42,53,79,.05)!important
}

.shadow-lg-hover:hover {
    box-shadow: 0 1rem 3rem rgba(42,53,79,.125)!important
}

.shadow-none-hover:hover {
    box-shadow: none!important
}

#canvas_wrap{
    .width_can{

    }
    .heigth_can{

    }
}
